{
    "extends": "airbnb-base",
    "rules": {
        "indent": ["error", 4],
        "global-require": 0,
        "no-use-before-define": ["error", { "functions": false, "classes": true }],
        "no-param-reassign": 0,
        "no-underscore-dangle": 0,
        "import/no-extraneous-dependencies": 0,
        "space-before-function-paren": 0
    },
    "globals": {
        "ON_DEV": true,
        "ON_PRODUCTION": true,
        "ON_TEST": true
    }
}
